<div class="container">
  <div>
    <h1 style="text-align:center;">ブログの編集</h1>
    <%= image_tag "book1.jpg" %>
    <div class="padding-bottom-35">
    </div>
    <%= render "form", article: @article %>
  </div>
</div>
